@model List<BarberListViewModel>

<h1>Our Barbers</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var barber in Model)
    {
        <tr>
            <td>@barber.Name</td>
            <td>@barber.Location</td>
            <td>@barber.PhoneNumber</td>
            <td>
                <a asp-action="Details" asp-controller="Barber" asp-route-id="@barber.Id" class="btn btn-primary">View Profile</a>
                <a asp-action="Book" asp-controller="Appointment" asp-route-barberId="@barber.Id" class="btn btn-success">Book Appointment</a>
                <a asp-action="SubmitRating" asp-controller="Barber" asp-route-id="@barber.Id" class="btn btn-danger">Leave a rating</a>
            </td>
        </tr>
    }
    </tbody>
</table>